<div class="card-deck mb-3">
  <div class="card">
    <div class="card-header">Spring Boot Status</div>
    <div class="card-body">
      <div class="card-text">
        <p>Is the springboot-api up?</p>
        <button class="btn btn-lg btn-primary" (click)="checkSpringboot()">
          <i class="cil-reload"></i> Springboot
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card-deck">
  <div class="card">
    <div class="card-header">Response</div>
    <div class="card-body">
      <div class="card-text">
        <pre>{{ response | json }}</pre>
      </div>
    </div>
  </div>
</div>